<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>
            Heatmaps List
        </title>
        
    </head>
<body>


  <div id="page">
    <div id="header">
    {% block breadcrumbs %}
    
    {% endblock %}    
    </div>
    <div id="main">
      <div id="content">
        <div id="content-inner" class="column center">
            {% block content %}
    
    
            {% endblock %}        
        </div>
      </div>
      
      <div id="left" class="column left">
      </div>
      
      <div id="right" class="column right">
      </div>
    
    </div> <!-- /main -->

    <div id="footer">...</div>
  </div><!-- /page -->
  
  
</body>
</html>
